.head{
    background-image: url(/head.webp);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.articles-p2{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#blog-article{
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}

.home-articles h2{
    text-align: center;
}
#blog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#blog-content span{
    float: right;
}

.content h2{
    text-align: center;
}

.time{
    color: grey;
}

.desc span:hover{
    cursor: pointer;
}
#b-img{
    height: 300px;
    width: 300px;
    position: relative;
    left: 360px;
    margin-bottom: 20px;
}
.footer{
    height: 50px;
}